<app-header title="{{ 'rgpd.title' | translate }}" subtitle="Unu mondo" img="/assets/images/header/ice7.webp"></app-header>
<section class="mention">
  <h1 class="mention__title">{{ 'rgpd.title' | translate }}</h1>
  <p>{{ 'rgpd.subtitle' | translate }}</p>
  <h2 class="mention__title">{{ 'rgpd.title1' | translate }}</h2>
  <p>{{ 'rgpd.article6' | translate }}</p>
  <ul class="mention__content">
    <li class="mention__list">{{ 'rgpd.property' | translate }}</li>
    <li class="mention__list">{{ 'rgpd.creators' | translate }}</li>
    <li class="mention__list">{{ 'rgpd.place' | translate }}</li>
    <li class="mention__list">{{ 'rgpd.responsable' | translate }}</li>
    <li class="mention__list">{{ 'rgpd.design' | translate }}</li>
    <li class="mention__list">{{ 'rgpd.development' | translate }}</li>
  </ul>
  <h2 class="mention__title">{{ 'rgpd.title2' | translate }}</h2>
  <p>{{ 'rgpd.use' | translate }}</p>
  <p>{{ 'rgpd.access' | translate }}</p>
  <p>{{ 'rgpd.update' | translate }}</p>
  <h2 class="mention__title">{{ 'rgpd.title3' | translate }}</h2>
  <p>{{ 'rgpd.information' | translate }}</p>
  <p>{{ 'rgpd.indicatif' | translate }}</p>
  <h2 class="mention__title">{{ 'rgpd.title4' | translate }}</h2>
  <p>{{ 'rgpd.matos' | translate }}</p>
  <h2 class="mention__title">{{ 'rgpd.title5' | translate }}</h2>
  <p>{{ 'rgpd.intellect' | translate }}</p>
  <p>{{ 'rgpd.exploitation' | translate }}</p>
  <h2 class="mention__title">{{ 'rgpd.title6' | translate }}</h2>
  <p>{{ 'rgpd.dommage-direct' | translate }}</p>
  <p>{{ 'rgpd.dommage-indirect' | translate }}</p>
  <p>{{ 'rgpd.espace' | translate }}</p>
  <h2 class="mention__title">{{ 'rgpd.title7' | translate }}</h2>
  <p>{{ 'rgpd.france' | translate }}</p>
  <p>{{ 'rgpd.occasion' | translate }}</p>
  <p>{{ 'rgpd.perso' | translate }}</p>
  <p>{{ 'rgpd.article38' | translate }}</p>
  <p>{{ 'rgpd.final' | translate }}</p>
  <p>{{ 'rgpd.ask' | translate }}</p>
  <ul class="mention__content">
    <li class="mention__list">{{ 'rgpd.newsletter' | translate }}</li>
    <li class="mention__list">{{ 'rgpd.commande' | translate }}</li>
    <li class="mention__list">{{ 'rgpd.candidature' | translate }}</li>
    <li class="mention__list">{{ 'rgpd.game' | translate }}</li>
  </ul>
  <p>{{ 'rgpd.legal' | translate }}</p>
  <p>{{ 'rgpd.exclu' | translate }}</p>
  <p>{{ 'rgpd.cookie' | translate }}</p>
  <p>{{ 'rgpd.online' | translate }}</p>
  <p>{{ 'rgpd.use_cookie' | translate }}</p>
  <P>{{ 'rgpd.technical_cookie' | translate }}</P>
  <P>{{ 'rgpd.cookie_audience' | translate }}</P>
  <p>{{ 'rgpd.partner' | translate }}</p>
  <p>{{ 'rgpd.transfer' | translate }}</p>
  <p>{{ 'rgpd.followed_adress' | translate }}</p>
  <p>{{ 'rgpd.unumondo' | translate }}</p>
  <p>{{ 'rgpd.place' | translate }}</p>
  <p>{{ 'rgpd.mail' | translate }}</p>
  <p>{{ 'rgpd.title6' | translate }}</p>
  <h2 class="mention__title">{{ 'rgpd.title8' | translate }}</h2>
  <p>{{ 'rgpd.litige' | translate }}</p>
  <h2 class="mention__title">{{ 'rgpd.title9' | translate }}</h2>
  <p>{{ 'rgpd.law78' | translate }}</p>
  <p>{{ 'rgpd.law575' | translate }}</p>
  <h2 class="mention__title">{{ 'rgpd.title10' | translate }}</h2>
  <p>{{ 'rgpd.user' | translate }}</p>
  <p>{{ 'rgpd.info_perso' | translate }}</p>
</section>
