<section class="temoignage" appLazyLoadingBackground dataBg="/assets/images/testimony.webp">
    <figure class="temoignage__wrapper">
        <img loading="lazy" class="temoignage__image" src="/assets/images/jeanlou.webp"
            alt="photo de Jean-Louis Étienne, parain de Unu mondo">
        <figcaption class="temoignage__content">
            <p>{{ 'home.artic' | translate }}</p>
            <h3>Jean-Louis Étienne</h3>
            <h4>{{ 'home.sponsor' | translate }}</h4>
        </figcaption>
    </figure>
</section>
