<app-header-home></app-header-home>
<main>
  <app-who [descriptionAssociation]="association?.descriptionAssociation"></app-who>
  <app-numbers [numbers]="chiffres" imgUrl="/assets/images/numbers.webp"></app-numbers>
  <app-pedagogy-home [descriptionPedagogie]="association?.descriptionPedagogie"></app-pedagogy-home>
  <app-missions-home [missions]="missions"></app-missions-home>
  <app-team-home></app-team-home>
  <app-testimony-home></app-testimony-home>
  <app-main-sponsors-home></app-main-sponsors-home>
</main>
