@import "src/scss/mixins", "src/scss/variables";

.wrong {
    position: absolute;
    bottom: 25vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
}