/* --- colors --- */
$darkBlue: #174961;
$aqua: #5CD4D4;
$midBlue: #008D9D;
$grey: #888585;


/* --- font weight --- */
$regular: 400;
$medium: 500;
$bold: 600;

/* --- media queries --- */
$mediaPhone : 769px;
$mediaTablet: 1025px;
$mediaLaptop: 1200px;

/* --- margin --- */
$marginSmall: 25px;
$marginMedium: 40px;
$marginBig: 80px;
$marginBottomNav: 120px;